allure-pytest==2.16.1
allure-python-commons==2.16.1
annotated-types==0.8.0
anyio==4.15.1
attrs==26.1.0
certifi==2026.7.22
colorama==0.4.6
dnspython==2.8.0
email-validator==2.3.0
execnet==2.1.2
Faker==40.39.0
grpcio==1.84.0
grpcio-tools==1.84.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.20
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
packaging==26.3
pluggy==1.6.0
protobuf==7.36.2
pydantic==2.13.5
pydantic-settings==2.15.0
pydantic_core==2.46.5
Pygments==2.21.0
pytest==9.1.1
pytest-rerunfailures==16.7
pytest-xdist==3.8.0
python-dotenv==1.2.3
referencing==0.37.0
rpds-py==2026.6.3
setuptools==84.0.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
websockets==17.1
